# Data Checker

## get_jobs function

In [3]:
import re

occupations = ["Sports and Personal Service Workers", "Storepersons", "Automotive and Engineering Trades Workers"]
pattern = re.compile(" and |, ")

for occupation in occupations:
    print(pattern.split(occupation))

['Sports', 'Personal Service Workers']
['Storepersons']
['Automotive', 'Engineering Trades Workers']

In [4]:
def get_jobs(occupation):
    return pattern.split(occupation)

## API Test

In [5]:
import requests
from pprint import pprint

def get_data_for(job):
    ROOT_URL = 'https://data.gov.au/data'
    API_URL = ROOT_URL + '/api/3/action/datastore_search?resource_id=bfa7ef04-e9f2-46ff-a959-84f005dfd17b%s'
    request =  API_URL % ('&q=%s' % job)

    response = requests.get(request).json()

    total_records = response['result']['total']
    
    data = response['result']['records']
    while len(data) < total_records:
        next_request = ROOT_URL + response['result']['_links']['next']
        response = requests.get(next_request).json()
        data += response['result']['records']
    return data

pprint(get_data_for('technician')[:5])

[{'Average salary or wage income3 \n$': 12549.2,
  'Average taxable income3\n$': 54872.49,
  'Average total income3 \n$': 55835.24,
  'Median salary or wage income3 \n$': 13274,
  'Median taxable income3\n$': 58991,
  'Median total income3 \n$': 59437,
  'Number of individuals': 41,
  'Occupation - unit group4': '3111 Agricultural technician',
  'State2': 'ACT',
  '_id': 1157,
  'rank': 0.0573088},
 {'Average salary or wage income3 \n$': 12822.05,
  'Average taxable income3\n$': 55145.04,
  'Average total income3 \n$': 57426.67,
  'Median salary or wage income3 \n$': 11065,
  'Median taxable income3\n$': 53589,
  'Median total income3 \n$': 54771,
  'Number of individuals': 457,
  'Occupation - unit group4': '3111 Agricultural technician',
  'State2': 'NSW',
  '_id': 1158,
  'rank': 0.0573088},
 {'Average salary or wage income3 \n$': 15126.06,
  'Average taxable income3\n$': 63617.26,
  'Average total income3 \n$': 66244.47,
  'Median salary or wage income3 \n$': 13477,
  'Median taxable income3\n$': 60277,
  'Median total income3 \n$': 61302,
  'Number of individuals': 19,
  'Occupation - unit group4': '3111 Agricultural technician',
  'State2': 'NT',
  '_id': 1159,
  'rank': 0.0573088},
 {'Average salary or wage income3 \n$': 11934.72,
  'Average taxable income3\n$': 52684.63,
  'Average total income3 \n$': 55244.57,
  'Median salary or wage income3 \n$': 9864,
  'Median taxable income3\n$': 49674,
  'Median total income3 \n$': 52560,
  'Number of individuals': 429,
  'Occupation - unit group4': '3111 Agricultural technician',
  'State2': 'QLD',
  '_id': 1160,
  'rank': 0.0573088},
 {'Average salary or wage income3 \n$': 13116.09,
  'Average taxable income3\n$': 59485.1,
  'Average total income3 \n$': 61769.79,
  'Median salary or wage income3 \n$': 11748.5,
  'Median taxable income3\n$': 57024,
  'Median total income3 \n$': 58508,
  'Number of individuals': 211,
  'Occupation - unit group4': '3111 Agricultural technician',
  'State2': 'SA',
  '_id': 1161,
  'rank': 0.0573088}]

## get_average_income_for method

In [6]:
AVERAGE_TOTAL_INCOME = 'Average total income3 \n$'

def get_average_income_for(job):
    data = get_data_for(job)
    
    data_total_income = 0
    for point in data:
        data_total_income += point[AVERAGE_TOTAL_INCOME]
        
    return data_total_income/max(1, len(data))

pprint(get_average_income_for('technician'))

67005.76781250001

## Process occupations.csv

In [7]:
import csv
from collections import defaultdict

occupations_average_income = defaultdict(float)

with open('./occupations.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        occupation = row[0]
        jobs = get_jobs(str(occupation))

        cleaned_jobs = []
        results = []
        for job in jobs:
            job = job.lower()
            if not job.endswith('ss') and job.endswith('s'):
                job = job.rstrip('s')
            cleaned_jobs.append(job)
            results.append(get_average_income_for(job))

        average_income = sum(results)/len(jobs)
        
        occupations_average_income[occupation] = average_income

pprint(occupations_average_income)

defaultdict(<class 'float'>,
            {'AFSA': 0.0,
             'Arts and Media Professionals': 0.0,
             'Automotive and Engineering Trades Workers': 47662.66645833333,
             'Business, Human Resource and Marketing Professionals': 77583.54833333332,
             'Carers and Aides': 37123.9640625,
             'Chief Executives, General Managers and Legislators': 121835.31916666667,
             'Cleaners and Laundry Workers': 33535.71453125,
             'Clerical and Office Support Workers': 45200.33734375,
             'Construction Trades Workers': 0.0,
             'Construction and Mining Labourers': 85313.40778716217,
             'Design, Engineering, Science and Transport Professionals': 70794.60455940316,
             'Education Professionals': 0.0,
             'Electrotechnology and Telecommunications Trades Workers': 29159.781875,
             'Engineering, ICT and Science Technicians': 49180.281287537546,
             'Factory Process Workers': 43905.36928571429,
             'Farm, Forestry and Garden Workers': 38336.60304273505,
             'Farmers and Farm Managers': 28011.65764705882,
             'Food Preparation Assistants': 0.0,
             'Food Trades Workers': 33032.27875,
             'General Clerical Workers': 0.0,
             'Health Professionals': 91846.00875,
             'Health and Welfare Support Workers': 54214.090357142864,
             'Hospitality Workers': 33388.73125,
             'Hospitality, Retail and Service Managers': 60075.346722222224,
             'ICT Professionals': 0.0,
             'Inquiry Clerks and Receptionists': 49740.041875,
             'Legal, Social and Welfare Professionals': 50355.75395833334,
             'Machine and Stationary Plant Operators': 70361.64420343138,
             'Mobile Plant Operators': 64037.146250000005,
             'Numerical Clerks': 0.0,
             'Office Managers and Program Administrators': 64421.86624999999,
             'Other Clerical and Administrative Workers': 50547.5209375,
             'Other Labourers': 81063.65125,
             'Other Technicians and Trades Workers': 68778.66654647437,
             'Personal Assistants and Secretaries': 30762.589374999996,
             'Protective Service Workers': 0.0,
             'Road and Rail Drivers': 0.0,
             'Sales Assistants and Salespersons': 43887.10296875,
             'Sales Representatives and Agents': 72576.644375,
             'Sales Support Workers': 0.0,
             'Skilled Animal and Horticultural Workers': 14430.73625,
             'Specialist Managers': 78724.69375,
             'Sports and Personal Service Workers': 29343.686875,
             'Storepersons': 35821.516875})

## Process provided data

In [8]:
def get_income_range(income_range):
    if re.match(r'^\$-?[0-9]+-\$-?[0-9]+$', income_range):
        tokens = income_range.split('-$')
        return [int(el.strip('$')) for el in tokens]
    return [200000]

print(get_income_range('$0-$99999'))
print(get_income_range('$-10000-$-5000'))

[0, 99999]
[-10000, -5000]

In [17]:
with open('./data.csv', 'r', newline='') as f:
    with open('./output.csv', 'w', newline='') as g:
        reader = csv.reader(f)
        writer = csv.writer(g, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

        first = True
        count_wrong = 0
        for row in reader:
            if not first:
                occupation = row[10]
                income = row[13]
                income_range = get_income_range(income)
                max_income_range = income_range[0]

                expected = occupations_average_income[occupation]
                if income_range[-1] < 50000 and income_range[-1] < expected and expected - income_range[-1] > 5000:
                    writer.writerow(row + ['INCOME_BELOW_EXPECTED', 'Average $%.2f, got %s' % (expected, income)])
                else:
                    writer.writerow(row)
            else:
                writer.writerow(row + ['Alert Category', 'Alert Reason'])
            first = False